
html {
    height: 100vh;
    scroll-behavior: smooth;
}
button:hover {
    cursor: pointer;
}
body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    
}
a{
    text-decoration: none;
    color: white
    
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.offerimg{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.header-container{
    height: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60vw;
    background-color: #1f2937;
}
.header-container span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}
.header-container p {
    
}
.welcome-body{
    min-width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    background-color: #1f2937;
}
#welcome-section{
    min-width: 100%;
    height: 80vh;
    background-color: #1f2937;
    
    
}
#offer-section{
    min-width: 100%;
    height: 50vh;
    background-color: white;
}
#qoute-section{
    min-width: 100%;
    height: 50vh;
    background-color: #E5E7EB;
    

}
#signup-section{
    margin: -2vw;
    min-width: 100%;
    height: 30vh;
    background-color: white;
}

.item{
    
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    
    
}

.body-item{

    height: 100%;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    gap: 0vw;
}
.body-text-bold{
    margin-top: 0;
    margin-bottom: 0;
    font-style: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 3.5vw;
    color: white;
    max-width: 100%;
    max-height: 100%;
}
.body-text-medium{
    margin-top: .6rem;
    font-style: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    color: white;
    max-width: 100%;
    max-height: 100%;
}
.body-button{
    height: auto;
    width: 8vw;
    background-color: #3882F6;
    color: white;
    border-radius: 1vw;
    border: none;
    outline: none;
    padding: 1vw 0vw;
    font-style: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
}
.body-item.right{
   
    display: flex;
    align-items: center;

}
.body-item img {
    height: 25vw;
    width: auto;
}
.offer-title{
    text-align: center;
    font-style: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    color: #1f2937;

}
.offer-container{
    margin-top: -3vw;
    min-width: 100%;
    min-height: 20vw;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 2.8vw;
    background-color: white;
}
.image-container{
    margin-bottom: -2vw;
    border-radius: 15%;
    border: .2vw solid #2b6edb;
    height: 8vw;
    width: 8vw;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    
}
.text-under-image{
    
    overflow: break-word;
   text-align: center;
   margin-top: 3vw;
   font-size: 2vw;
   font-weight: 800;
color:#3882F6;
    
}
.qoute-msg{
    margin: auto 0;
    margin-bottom: 0;
    padding-top: 11.8vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #1f2937;
    font-size: 2.5vw;
    font-weight: 100;
    font-weight: light;
    overflow: break-word;
}
.author{
    margin-left: 60%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 11.8rem;
}
.call-to-action{
    margin: 5vw auto;
    
    min-width: 60vw;
    max-width: 60vw;
    min-height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    gap: 4vw;
    border-radius: 0.5vw;
    
    
}
.text-of{
    min-width: 40%;
    max-width: 50%;
    min-height: 70%;
    margin-bottom: 2vw;
    
    
}
.bold{
    
    font-size: 1.8vw;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color:white;
}
.light{

    font-size: 0.7vw;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color:#E5E7EB
}
.call-button{
    padding: 0.5vw 2vw;

    background-color: #3882F6;
    color: #E5E7EB;
    border: 0.05vw #E5E7EB solid;
    border-radius: 0.5vw;
}
.footer{
    min-width: 100%;
    min-height: 3vw;
    max-height: 3vw;
    background-color: #1f2937;
    text-align: center;
    padding-top: 1.8vw;
    color: white;
    position: static;
  left: 0;
  bottom: 0;
}

#logo{
    height: auto;
    width: 5vw;
    margin-top: .2vw;
}

@media (min-height: 1024px) {
    #welcome-section {
        height: 30vh;
    }
    #qoute-section {
        height: 20vh;
    }
    #offer-section {
        
        height: 20vh;
    }
    #signup-section {
        height: 10.5vh;
        padding-bottom: 11vh;
        padding-top: 10vh;
    }
    
    
}
@media (max-width: 480px) {
    #welcome-section {
        height: 20vh;
    }
    #qoute-section {
        height: 20vh;
    }
    .qoute-msg {
        font-size: 2vh;
    }
    #offer-section {
        
        height: 15vh;
    }
    .image-text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .offer-title {
        font-size: 2.5vh;
    }
    .text-under-image {
        font-size: 2vh;
    }
    .author {
        font-size: 1vh;
    }
    #signup-section {
        height: 5.5vh;
        padding-bottom: 33.8vh;
        padding-top: 10vh;
    }
    .call-to-action {
        height: 20vh;
        flex-direction: column;
        gap: 0vh;
        padding-bottom: 2vh;
        
    }
    .text-of {
        margin-bottom: 0vh;
    }
    .bold {
        font-size: 1.8vh;
    }
    .light {
        font-size: 1vh;
    }
    .footer {
        max-height: 10vh;
        padding-bottom: 1vh;
    }
    
    
}